<%= render @message %>

<div class="page-actions">
  <%= link_to "Edit", edit_message_path(@message), class: "button" %>
  <%= link_to "Back", messages_path, class: "button button--ghost" %>
  <%= button_to "Delete", @message, method: :delete %>
</div>
