<% content_for :title, "Editing profile" %>

<h1>Editing profile</h1>
<%= render "form", profile: @profile %>

<div class="page-actions">
  <%= link_to "Show this profile", @profile, class: "button" %>
  <%= link_to "Back to profiles", profiles_path, class: "button button--ghost" %>
</div>
