<% content_for :title, "Profiles" %>

<section class="page-header">
  <h1>Profiles</h1>
  <%= link_to "New profile", new_profile_path, class: "button" %>
</section>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <article>
      <%= render profile %>
      <p><%= link_to "Show details", profile %></p>
    </article>
  <% end %>
</div>
