<%= render @profile %>

<div class="page-actions">
  <%= link_to "Edit", edit_profile_path(@profile), class: "button" %>
  <%= link_to "Back", profiles_path, class: "button button--ghost" %>
  <%= button_to "Delete", @profile, method: :delete %>
</div>
