<% content_for :title, "Posts" %>

<section class="page-header">
  <h1>Posts</h1>
  <%= link_to "New post", new_post_path, class: "button" %>
</section>

<div id="posts">
  <% @posts.each do |post| %>
    <article>
      <%= render post %>
      <p><%= link_to "Show details", post %></p>
    </article>
  <% end %>
</div>
